body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(91, 91, 89, 0.7), rgba(91, 91, 89, 0.7)), url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
  text-align: center;
  font-family: 'Hind', sans-serif; }

.wrapper {
  width: 50%;
  margin: 0 auto; }

h3 {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  text-align: left;
  font-size: 1em;
  line-height: 1em; }

.Subline {
  display: block;
  text-align: left;
  font-size: 0.313em;
  margin: 0 auto;
  padding: 0 auto;
  color: #AAAAAA; }

p {
  font-size: 0.25em;
  line-height: 1.4em; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 1em 0 0 0;
  list-style-type: none; }
  ul li {
    display: inline-block; }
  ul a {
    display: block;
    /*     padding: 0.5em; */ }

img {
  max-width: 100%; }

.Buttons, .Buttons_Contact {
  float: right; }
  .Buttons li a, .Buttons_Contact li a {
    color: white;
    opacity: 0.7;
    text-decoration: none;
    padding: 1em;
    font-size: 0.75em; }
  .Buttons #Facebook a, .Buttons_Contact #Facebook a {
    background-color: #4c5894;
    width: 2em;
    box-shadow: 0px 5px 0px 0px rgba(173, 173, 173, 0.6); }
  .Buttons #RSS a, .Buttons_Contact #RSS a {
    background-color: #bc8f3c;
    width: 2em;
    box-shadow: 0px 5px 0px 0px rgba(173, 173, 173, 0.6); }
  .Buttons #Twitter a, .Buttons_Contact #Twitter a {
    background-color: #758cc4;
    width: 2em;
    box-shadow: 0px 5px 0px 0px rgba(173, 173, 173, 0.6); }
  .Buttons #Youtube a, .Buttons_Contact #Youtube a {
    background-color: #9a2d31;
    width: 2em;
    box-shadow: 0px 5px 0px 0px rgba(173, 173, 173, 0.6); }

.SiteNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7em; }
  .SiteNav ul {
    width: 100%; }
  .SiteNav li {
    width: 24%;
    display: inline-block; }
  .SiteNav a {
    color: white;
    background-color: #9a2d31;
    padding: 0.5em 0;
    box-shadow: 0px 5px 0px 0px rgba(173, 173, 173, 0.6); }

.slider {
  width: 98%;
  display: block;
  border: 0.4em solid white;
  /*   background: white; */
  min-height: 300px;
  margin-top: 1em;
  background: url("../images/grid.png") center center no-repeat, url("../images/top-image.png") 20% 30% no-repeat;
  background-size: 150%;
  box-shadow: 0px 5px 0px 0px rgba(173, 173, 173, 0.6); }
  .slider img {
    float: left;
    padding: 1em;
    width: 45%; }

.Content_Posts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em; }

.Post {
  width: 32%;
  display: inline-block;
  text-align: left;
  background-color: white;
  box-shadow: 0px 5px 0px 0px rgba(173, 173, 173, 0.6); }
  .Post h3, .Post .Subline, .Post p {
    padding-left: 5%;
    padding-right: 5%; }
  .Post h3 {
    padding-top: 1em; }
  .Post .Subline {
    color: #AAAAAA; }
  .Post #ReadMore a {
    color: #9a2d31;
    display: block;
    text-align: center;
    font-size: 0.7em; }

.Content_Profiles {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 1em 0 0 0;
  padding: 0; }

/*
.clearfix:before, clearifx:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}
*/
.ProfilePic {
  margin: 0;
  padding: 0; }
  .ProfilePic a {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: white; }
    .ProfilePic a h1 {
      text-align: center;
      vertical-align: middle;
      padding-top: 10%; }
  .ProfilePic #Mountain {
    background: linear-gradient(rgba(91, 91, 89, 0.7), rgba(91, 91, 89, 0.7)), url("../images/sk8er-4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0px 5px 0px 0px rgba(173, 173, 173, 0.6);
    width: 32%;
    margin-left: 0%;
    margin-right: 0.2em;
    height: 200px;
    float: left;
    border: 0.2em solid white; }
  .ProfilePic #Mullen {
    background: linear-gradient(rgba(91, 91, 89, 0.7), rgba(91, 91, 89, 0.7)), url("../images/sk8er-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0px 5px 0px 0px rgba(173, 173, 173, 0.6);
    width: 32%;
    height: 200px;
    float: left;
    border: 0.2em solid white; }
  .ProfilePic #Guerrero {
    background: linear-gradient(rgba(91, 91, 89, 0.7), rgba(91, 91, 89, 0.7)), url("../images/sk8er-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    text-align: center;
    background-position: 80% 50%;
    box-shadow: 0px 5px 0px 0px rgba(173, 173, 173, 0.6);
    width: 32%;
    margin-right: 0%;
    height: 416px;
    float: right;
    border: 0.2em solid white; }
    .ProfilePic #Guerrero a h1 {
      padding-top: 40%; }
  .ProfilePic #Caballero {
    background: linear-gradient(rgba(91, 91, 89, 0.7), rgba(91, 91, 89, 0.7)), url("../images/sk8er-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    text-align: center;
    background-position: 80%;
    box-shadow: 0px 5px 0px 0px rgba(173, 173, 173, 0.6);
    width: 65.5%;
    margin-top: 1%;
    margin-left: 0%;
    height: 200px;
    float: left;
    border: 0.2em solid white; }

.Boards {
  display: inline-block;
  width: 100%;
  background-color: white;
  box-shadow: 0px 5px 0px 0px rgba(173, 173, 173, 0.6);
  margin-top: 1em; }
  .Boards ul li {
    padding: 0 0.5%; }

.Contact-Form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 5px 0px 0px rgba(173, 173, 173, 0.6);
  margin-top: 1em;
  margin-bottom: 2em; }

.Buttons_Contact {
  float: none;
  display: block;
  text-align: left;
  padding-left: 2em;
  font-size: 0.3em; }
  .Buttons_Contact #Facebook a {
    background-color: #505050; }
  .Buttons_Contact #RSS a {
    background-color: #adadad; }
  .Buttons_Contact #Twitter a {
    background-color: #787878; }
  .Buttons_Contact #Youtube a {
    background-color: #747474; }

.ContactText {
  width: 49%;
  display: inline-block;
  vertical-align: top; }
  .ContactText h3 {
    padding: 1em; }
  .ContactText p {
    text-align: left;
    padding: 0 1em 1em 2em;
    margin-top: 0; }

.Form {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2em; }

.Form fieldset {
  padding: 1em;
  border: none;
  width: 90%;
  margin: 0 auto; }

.Form input {
  display: block;
  width: 90%;
  padding: 0 auto; }

.Form textarea {
  display: block;
  width: 90%;
  height: 4em;
  padding: 0 auto; }

.Form #submitButton {
  color: white;
  background-color: #9a2d31;
  width: 10em;
  padding: 0 2em;
  text-align: right;
  margin-left: 21em; }

@media screen and (max-width: 768px) {
  .wrapper {
    width: 80%; }
  .Buttons, .Buttons_Contact {
    font-size: 0.5em; }
  .Content_Posts {
    display: block; }
    .Content_Posts .Post {
      width: 100%;
      display: block;
      margin-top: 5px; }
  .Content_Profiles {
    display: block; }
  .ProfilePic {
    height: 210px; }
    .ProfilePic #Mountain, .ProfilePic #Mullen, .ProfilePic #Guerrero, .ProfilePic #Caballero {
      display: block;
      width: 100%;
      clear: both;
      float: none;
      margin: 0 auto;
      margin-top: 5px; }
  .ProfilePic #Guerrero {
    height: 210px; }
    .ProfilePic #Guerrero a h1 {
      padding-top: 10%; }
  .Boards img {
    width: 66%; }
  .Contact-Form {
    display: block; }
    .Contact-Form .ContactText, .Contact-Form .Form {
      display: block;
      width: 100%; } }

/* ---------------breakpoint--------*/
/*
@media screen and (max-width: 320px) {

}
*/