@import 'modules';


body {
  margin: 0;
  padding: 0;
  @include linGradbackground (url("../images/bg.jpg"));
  font-family: 'Hind', sans-serif;
}

.wrapper {
  width: 50%;
  margin: 0 auto;
}

h3 {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  text-align: left;
  font-size: 1em;
  line-height: 1em;
}

.Subline {
  display: block;
  text-align: left;
  font-size: 0.313em;
  margin: 0 auto;
  padding: 0 auto;
  color: $SecondaryAccentColor;
}

p {
  font-size: 0.25em;
  line-height: 1.4em;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 1em 0 0 0;
  list-style-type: none;
  li {
    display: inline-block;
  }
  a {
    display: block;
/*     padding: 0.5em; */
  }
}

img {
  max-width: 100%;
}

.Buttons {
  float: right;
  li a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  padding: 1em;
  font-size: 0.75em;
  }
  #Facebook a{
    background-color: $FacebookColor;
    width: 2em;
    }
  #RSS a{
    background-color: $RSSColor;
    width: 2em;
  }
  #Twitter a{
    background-color: $TwitterColor;
    width: 2em;
  }
  #Youtube a{
    background-color: $MainAccentColor;
    width: 2em;
  }

}

.SiteNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.5em;
  ul {
    width: 100%;
  }
    li {
    width: 24%;
    display: inline-block;
    }
      a {
      color: white;
      background-color: $MainAccentColor;
      padding: 0.5em 0;
      }
}

.slider {
  width: 98%;
  display: block;
  border: 0.4em solid white;
/*   background: white; */
  min-height: 300px;
  margin-top: 1em;
  background: url("../images/grid.png") center center no-repeat, url("../images/top-image.png") 20% 30% no-repeat;
  background-size: 150%;

  img {
    float: left;
    padding: 1em;
    width: 45%;
  }
}

.Content_Posts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
}

.Post {
  width: 32%;
  display: inline-block;
  text-align: left;
  background-color: white;
  h3,.Subline, p {
    padding-left: 5%;
    padding-right: 5%;
  }
  h3 {
    padding-top: 1em;
  }
  .Subline {
    color: $SecondaryAccentColor;
  }
  #ReadMore a {
    color: $MainAccentColor;
    display: block;
    text-align: center;
    font-size: 0.7em;
  }
}


.Content_Profiles {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 1em 0 0 0;
  padding: 0;
}

/*
.clearfix:before, clearifx:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}
*/

.ProfilePic {
    margin: 0;
    padding: 0;
  a  {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: white;
    h1 {
      text-align: center;
      vertical-align: middle;
      padding-top: 10%;
    }
  }
  #Mountain {
    @include linGradbackground (url("../images/sk8er-4.png"));
    width: 32%;
    margin-left: 0%;
    margin-right: 0.2em;
    height: 200px;
    float: left;
    border: 0.2em solid white;
  }
  #Mullen {
    @include linGradbackground (url("../images/sk8er-3.png"));
    width: 32%;
    height: 200px;
    float: left;
    border: 0.2em solid white;
  }

  #Guerrero {
    @include linGradbackground (url("../images/sk8er-2.png"));
    background-position: 80% 50%;
    width: 32%;
    margin-right: 0%;
    height: 416px;
    float: right;
    border: 0.2em solid white;
    a h1 {
      padding-top: 40%;
    }
  }

  #Caballero {
    @include linGradbackground (url("../images/sk8er-1.png"));
    background-position: 80%;
    width: 65.5%;
    margin-top: 1%;
    margin-left: 0%;
    height: 200px;
    float: left;
    border: 0.2em solid white;
  }



}
.Boards {
  display: inline-block;
  width: 100%;
  background-color: white;
  margin-top: 1em;
  ul li {
    padding: 0 0.5%;
  }
}

.Contact-Form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  margin-top: 1em;
}
.ContactText {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  h3 {
    padding: 1em;
  }
  p {
    text-align: left;
    padding: 0 1em 1em 1em;
    margin-top: 0;
  }
}

.Form {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2em;
}
.Form fieldset {
    padding: 1em;
    border: none;
    width: 90%;
    margin: 0 auto;
  }
.Form input {
      display: block;
      width: 90%;
      padding: 0 auto;
      }
.Form textarea {
      display: block;
      width: 90%;
      height: 4em;
      padding: 0 auto;

    }
.Form #submitButton {
  color: white;
  background-color: $MainAccentColor;
  width: 10em;
  padding: 0 2em;
  text-align: right;
  }



@import 'mediaQueries';
